Icon
.DS_Store
/thumbs/*
!/thumbs/index.html
/site/cache/*
!/site/cache/index.html
.idea/workspace.xml
firebase-debug.log

# dependencies
/node_modules
/web/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
