Icon
.DS_Store
/thumbs/*
!/thumbs/index.html
/site/cache/*
!/site/cache/index.html
.idea/workspace.xml
firebase-debug.log

# dependencies
/node_modules

# production
/build

npm-debug.log*
yarn-debug.log*
yarn-error.log*
