@import "trigonmetry";

$bertha-base: #2c2828;
$regina-red: #f67280;
$pamela-purple: #6c567b;
$golden-ratio: 61.80%;
$walter-white: #fff;

@mixin small-screens {
  @media all and (max-width: 670px) {
    @content;
  }
}

@mixin large-screens {
  @media all and (min-width: 670px) {
    @content;
  }
}

html, body {
  background-color: $bertha-base;
  min-height: 100%;
  font-family: 'Nunito', sans-serif;
  color: $walter-white;

  font-size: 20px;
  line-height: 1.7em;
}


body {
  margin: 0;
  font-kerning: auto;
}

@media all and (max-width: 820px) {
  html, body {
    font-size: 18px;
  }
}

.content-size {
  box-sizing: border-box;
  $padding: 1rem;
  margin: auto auto $padding;
  width: calc(67vw + #{$padding});
  padding: 0 $padding;
}

.content-wrap {
  @extend .content-size;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-side-image-wrap {
  display: flex;

  > .section-image {
    width: 100%- $golden-ratio;
  }

}

@include large-screens {
  .content-side-image-wrap {
    > .content-wrap:first-child {
      padding-left: 16.6vw;
    }

    > .content-wrap:last-child {
      padding-right: 16.6vw;
    }
  }
}

@include small-screens {
  .content-side-image-wrap {
    flex-direction: column;

    > .section-image {
      order: -1;
      width: 100%;
      height: 39vh;
      max-height: 20rem;
    }
  }
}

@include small-screens {
  .content-wrap {
    width: 100%;
  }
}


h1, h2 {
  font-variant: small-caps;
  text-shadow: 1px 1px 2px #201f1f;
}

h1 {
  padding: .4em;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

a {
  color: $walter-white;
  transition: transform 0.7s linear;
  transform-origin: center;
  text-decoration: underline;
  display: inline-block;

  &:hover {
    transform: translateY(-.2em) scale(1.05);
    transition: transform 0.4s ease-out;
  }

  > i {
    text-decoration: inherit;
  }
}

main {
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
}

section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.socials-container {
  text-align: right;
}

.socials {
  display: inline-block;
  text-align: center;
  margin-bottom: 0;

  > a {
    display: inline-block;
    margin-left: .4em;
    animation-name: slide-in, fade-in;
    animation-duration: .7s;
    animation-fill-mode: backwards;
  }

  > a:nth-last-child(2) {
    animation-delay: .5s;
  }

  > a:nth-last-child(3) {
    animation-delay: 1s;
  }

  > a:nth-last-child(4) {
    animation-delay: 1.5s;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100vh);
    opacity: 0
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

section#about {
  background-color: $bertha-base;

  > div {
    margin-top: 1.6rem;
    text-align: justify;
  }

  > h1 {
    align-items: center;
  }

  .socials-container {
    align-self: flex-end;
  }
}

@mixin section-transition($dir) {

  $slope-height: 4.4rem;

  .content-wrap {
    padding-top: $slope-height;
    padding-bottom: $slope-height;
  }

  @include small-screens {
    .content-wrap {
      padding-top: 1rem;
    }
  }

  @if $dir == 'right' {
    clip-path: polygon(100% $slope-height, 100% calc(100% - #{$slope-height}), 0 100%, 0 0);
  } @else {
    clip-path: polygon(0 $slope-height, 100% 0, 100% 100%, 0 calc(100% - #{$slope-height}));
  }
}

section#blog {
  background-color: $regina-red;
  @include section-transition('right');
}

.blog-post {
  text-align: justify;

  ul.categories {
    font-size: .78em;
    line-height: 1.1em;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      text-transform: capitalize;

      &:not(:last-child):after {
        content: " • "
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

#skills {
  background-color: $pamela-purple;
  @include section-transition('left');
}

.loader {
  font-family: monospace;
  font-size: .7em;
  line-height: 1.2em;
  height: 10em;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: fade;
}

ul.skills-list {
  list-style: none;
  padding: 0;
  font-weight: 600;
  margin: 0;

  .skills__stars {
    i {
      margin-right: .4em;

      &:last-child {
        margin-right: 1em;
      }
    }
  }
}

button {
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  color: $walter-white;
  cursor: pointer;
  text-decoration: underline;

  &:not(.button--flat) {
    background-color: $regina-red;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: .5em 1.3em;
  }

  &.button--flat {
    background: none;
    box-shadow: none;
    padding: 0;
  }
}

.parallax-img-wrapper {
  overflow: hidden;

  > img {
    width: 100%;
    height: 200%;
    object-fit: cover;
  }
}pa

.skills__more {
  margin-top: .7rem;
}

.skills__malt-link {
  margin-top: 1.5rem;
}
